<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="banner">
    <h1>Welcome to a <a href="https://www.biblegateway.com/passage/?search=Proverbs+18%3A21&version=AMP" target="blank">{{pageName}}</a></h1>
  </div>

  <section id="input">
    <h1>Write Living Words Here:</h1>
    <form id="manualForm" name="manualForm" action="/appendValue" method="POST">
      <input id="zeroButton" type="button" value="0">
      <input id="oneButton" type="button" value="1">
      <label for="inputValue">Enter 8 Binary Digits: </label>
      <input id="inputValue" type="number" name="inputValue" value="" size="8">
      <input class="formSubmit" type="submit" value="Send Data">
    </form>
    <h3 id="errorMessage"></h3>
  </section>
  <section id="about">
    <div class="banner">
      <h1>About</h1>
      <h3>
        <a href="https://web.archive.org/web/20130213215711/www.costik.com/nowords.html" target="blank">What is a word, anyhow?</a>
        <a href="https://en.wikipedia.org/wiki/A_rose_by_any_other_name_would_smell_as_sweet" target="blank"> And what is in name?</a>
          A word is a thought given a name.
      </h3>
      <p>
        But what is this? This is a <i>Machine of Living Words</i>, an icon of inscription as well as an epitaph of technology from days gone by. 
        Its function is far from that of the first computers, yet its form is intended to be indicative of them all the same. Just as those early machines required one to enter commands
        one value at a time through toggle switches or in bulk via punch cards, so to must the user of this "machine" enter the characters of each
         word they wish to write in the basic format of binary.
      </p>
      <p>
        This machine differes from the likes of Jonathan Basile's <a class="show" href="http://libraryofbabel.info/" target="blank">Library of Babel</a> in that each of the words found here has
        two inherent meanings. Each word on this page has a meaning that is established: one which comes from the intent of the one who wrote it, even if that meaning 
        is for the words to have no meaning at all. Each also has a meaning that is interpreted: one which comes from the one who reads it, formed from the context they are read within and the experiences
        of the person reading them. The words found in the Library of Babel have no established meaning, because those words are created by an algorithm without a will of its own. It does not think about
        creating, it creates and nothing more. The libarary as a whole has an established meaning, but the words found within lack any. The words here, however, are brought into existence because
        someone chose to place them here, and that is what gives them life.
      </p>
    </div>
  </section>
  <section id="display">
  {{#if words}}
      <p>
        {{this.words}}
      </p>
  {{else}}
      <h3 id="noWords"><a href="https://web.archive.org/web/20130213215711/www.costik.com/nowords.html" target="blank">I have no words and I must display!</a></h3>
  {{/if}}
  </section>
  <div id="serverMessage">{{message}}</div>
  <section id="footer" class="banner">
    &copy; 2019 <a class="show" href="https://people.rit.edu/jdm4344/portfolio/" target="blank">Jordan Machalek</a>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>